#parse("/header.html")
<link href="/static/css/paper.css" rel="stylesheet">
<link href="/static/css/question.css" rel="stylesheet">
<div class="container"  ng-app="modelApp" ng-controller="modelListCtrl">
    <div class="top-panel">
        <div class="title">
            修改试卷
        </div>
        <div class="button-panel" style="margin-bottom:5px;">
            <input type="button" class="btn common-btn save-btn keep" ng-click="updatePaper()" value="保存">
            <button type="button" class="btn common-btn" data-dismiss="modal" ng-click="goto()">返回</button>
        </div>
    </div>
    <form class="step-first" id="stepFirst">
        <div class="form-group">
            <label class="required paperName" data-pid="{{paper.id}}">试卷名称:</label>
            <input type="text" ng-model="paper.name" placeholder="最多为64位字符" maxlength="64" name="paperName" class="common-input"/>
            <label class="required fom-left" style="margin-left:15%">所属科目:</label>
            <select name="subjectId" class="select-ft subjectId" ng-model="paper.subjectId" id="subjectSelect" disabled>

            </select>
        </div>
        <div class="form-group">
            <label class="required">卷面总分:</label>
            <input name="scores" ng-model="paper.totalScore" type="text" class="common-input"/><bm>分</bm>
            <label class="required fom-left">及格分数:</label>
            <input name="passScroe" ng-model="paper.passScore" type="text" class="common-input" /><bm>分</bm>
        </div>
        <div class="form-group">
            <label class="required">知识点分类:</label>
            <select name="knowledgeId" class="knowledgeSel change"  id="knowledgeId" multiple="multiple" >
                <option ng-repeat="knowledge in knowledgeList" value="{{knowledge.id}}" data-obj="{{knowledge}}">{{knowledge.name}}</option>
            </select>
            <label class="required fom-left">考试时长:</label>
            <input type="text" name="paperTimes" ng-model="paper.length" class="common-input"/><bm>（分钟）</bm>
        </div>
        <div class="tree-body select-ma">
            <!--<div class="addtypes">
                <label class="required">题型设置：</label>
                <img src="/static/images/add.png">
            </div>
            <div class="tree-list " style="">
                <div  class="tree-child" ng-repeat="select in questionTypes" >
                    <select name="questionType"   id="questionType"  class="select-ft change" >
                        <option value="" >请选择</option>
                        <option ng-repeat="obj in questionType" value="{{obj.id}}"  class="change" ng-selected="select.name == obj.id">{{obj.name}}</option>
                    </select>
                    <input name="questionNum" id="questionNum" type="text" value="{{select.count}}" class="common-input change" /><bm>题</bm>
                    <em>每题</em>
                    <input name="questionScore" type="text" value="{{select.score}}" class="common-input input-child change"/><bm>分</bm>
                    <img src="/static/images/del.png">
                </div>
            </div>-->
            <hr>
            <div class="addtypes" ng-repeat="data in questionCount">
                <label class="required">题型设置：</label>
                <span style="margin-left:1%;">
                <bm>当前已添加了 </bm><label>{{data.typeNum}}</label><bm> 个题型</bm>
                <bm>,共 </bm><label>{{data.quesNum}}</label><bm> 小题，题目分数合计</bm>
                <label>{{data.score}}</label><bm> 分。</bm>
                </span>
                <span class="add-ty font-show"><img src="/static/images/addType.png"> 添加题型</span>
                <hr>
            </div>
            <!--该div始终隐藏，用于缓存小题展示区域！-->
            <div class="next-tree section-template-panel" >
                <em class="secTop">第一题： </em>
                <select name="questionType"  class="select-ft">
                    <option value="" >请选择</option>
                    <option ng-repeat="obj in questionType" value="{{obj.id}}" >{{obj.name}}</option>
                </select>
                <bm> 共 </bm><input type="text" name="questionNum" class="common-input input-child queNum type-input" /><bm> 题</bm>
                <bm> 每小题</bm><input type="text" name="questionScore" class="common-input input-child queScore type-input" /><bm> 分</bm>
                <span class="font-show bu-f que-self">自动选题</span>
                <span class="font-show bu-s add-ques">添加题目</span>
                <span class="font-show bu-s clean-que">清除题目</span>
                <span class="font-show bu-s del-ty">删除题型</span>
                <div class="tree-list">
                    <div class="tree-first">
                        <textarea class="text-que">题干说明</textarea>
                    </div>
                    <div class="tree-pr">

                    </div>
                    <hr style="margin-left:2%;">
                </div>
            </div>
            <div class="next-elder">
                <div class="next-tree"  ng-repeat="paperObj in paperData">
                    <em class="secTop">第{{paperObj.chapterId}}题： </em>
                    <select name="questionType"   class="select-ft">
                        <option value="" >请选择</option>
                        <option ng-repeat="obj in questionType" ng-selected="paperObj.questionTypeId == obj.id" value="{{obj.id}}" >{{obj.name}}</option>
                    </select>
                    <bm> 共 </bm><input type="text" name="questionNum" class="common-input input-child queNum type-input" value="{{paperObj.count}}"/><bm> 题</bm>
                    <bm> 每小题</bm><input type="text" name="questionScore" class="common-input input-child queScore type-input" value="{{paperObj.score}}"/><bm> 分</bm>
                    <span class="font-show bu-f que-self">自动选题</span>
                    <span class="font-show bu-s add-ques">添加题目</span>
                    <span class="font-show bu-s clean-que">清除题目</span>
                    <span class="font-show bu-s del-ty">删除题型</span>
                    <div class="tree-list">
                        <div class="tree-first">
                            <textarea class="text-que">{{paperObj.remark}}</textarea>
                        </div>
                        <div class="tree-pr">
                            <div class="tree-sec" ng-repeat="row in paperObj.questionMap">
                                <div class="sec-ft">{{$index+1}}</div>
                                <div class="sec-se" id="{{row.questionId}}" ng-bind-html="row.questionContent|to_trusted"></div>
                                <div class="sec-th"><img src="/static/images/del.png"></div>
                                <br style="clear:both;" />
                            </div>
                        </div>
                        <hr style="margin-left:2%;">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--查看详情 modal-->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">添加题目</h4>
                </div>
                <form class="modal-sel" id="searchForm">
                    <input type="hidden" name="checkStatus" value="2">
                    <input type="hidden" name="subjectId" value="{{paper.subjectId}}">
                    <input type="hidden" name="questionTypeId" value="{{modalTypeId}}">
                    <span>知识点</span>
                    <select name="knowId"  ng-model="modalKnowledgeId">
                        <option ng-repeat="knowledge in knowledges" value="{{knowledge.id}}">{{knowledge.name}}</option>
                    </select>
                    <input type="text" name="keyword" class="common-input" placeholder="关键字模糊查询"/>
                    <button type="button" class="btn common-btn search-btn">查询</button>
                </form>
                <div class="modal-body">
                    <div class="question-list">

                    </div>
                    <page model="modelEntrys" ajaxurl="/question/pageQuestion" autoinit="false"  formid="searchForm"></page>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn common-btn" ng-click="handGroup()" >确定</button>
                    <button type="button" class="btn common-btn" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div><!-- modal-end -->
    <!-- 试题展示层模板 -->
    <div class="question-unit" style="width: 100%;display: none;" id="questionTempPanel">
        <div class="row question-info">
            <div class="col-xs-8">
                <label>题号 : <span class="question-num"></span></label>
                <label style="margin-left: 30px;">题型 : <span class="question-type"></span></label>
                <label style="margin-left: 30px;">难度 : <span class="question-dif"></span></label>
                <label style="margin-left: 30px;">关键字 : <span class="question-keyword"></span></label>
            </div>
            <div class="col-xs-4 text-right">
                <label><input type="checkbox" class="question-checkbox" id=""  value=""></label>
            </div>
            <div class="col-xs-8" style="margin-top: 10px;">
                <label>来源 : <span class="question-res"></span></label>
            </div>
            <div class="col-xs-4 text-right" style="margin-top: 10px;">
                <label >创建时间 : <span class="create-time"></span></label>
            </div>
        </div>
        <div class="row question-content" style="padding-left: 12px;word-break: break-all;word-wrap:break-word;">
        </div>
    </div>
    <!-- 试题展示层模板-end -->
    <!-- 提示模态框（Modal） -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:60%;">
            <div id="myAlert" class="alert alert-warning" >
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong>警告！</strong>您未勾选题目，请勾选后再点击保存，需关闭选题窗口可点击相关关闭按钮！
            </div>
        </div>
    </div>
    <!-- .modal -->
</div>
#parse("/footer.html")
<script src="/static/js/paper/paper.update.js"></script>